.modal__instruction-container {
  width: calc(100% - 200px);
  max-width: 900px;
  height: 85vh;
  overflow: auto;
  transition: 0.3s linear;
}

.modal__instruction-title {
  margin: 0 0 30px;
  font-size: 2em;
  text-align: center;
}

.modal__element {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.modal__element-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.modal__element-image {
  width: 90%;
  max-width: 200px;
  height: 50%;
}

.modal__element-title {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.modal__element-description {
  text-align: center;
  font-size: 24px;
  margin: 0 5px;
}

@media screen and (max-width: 950px) {
  .modal__element {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal__element-description {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
    .modal__element {
        grid-template-columns: 1fr;
    }
    .modal__instruction-container {
        padding: 32px 10px;
    }

    .modal__element-description {
      font-size: 16px;
    }
}
