.board__tile {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: lightgray;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-tile__button {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
}

.board-tile__image {
    width: 100%;
    height: 100%;
}

.board-tile__dot_transparent {
  width: 78%;
    height: 62%;
    position: absolute;
    z-index: 2;
    top: 27%;
    left: 11%;
    opacity: .5;
}

@media screen and (max-width: 650px) {
  .board__tile {
    /* height: 60%; */
  }

  .board-tile__name {
    margin: 0;
  }
}