.navigate-to-homepage {
  /* align-self: center; */
}

.navigate-to-homepage__link {
  display: flex;
  background-color: lightgray;
  text-decoration: none;
  width: calc(30% - 10px);
  border: 1px solid black;
  border-radius: 7%;
  line-height: 3em;
  height: 3em;
  font-size: 20px;
  color: black;
  transition: linear .3s;
  justify-content: center;
  margin: 10px auto 0;
}

.navigate-to-homepage__link:hover {
    background-color: lightgray;
    opacity: 70%;
}