.navigate-to-homepage__link {
  display: flex;
  background-color: lightgray;
  text-decoration: none;
  width: calc(100%);
  border: 1px solid black;
  border-radius: 7%;
  line-height: 1.7em;
  height: 3.55em;
  font-size: 15px;
  color: black;
  transition: linear .3s;
  justify-content: center;
  text-align: center;
}

.navigate-to-homepage__link:hover {
    background-color: lightgray;
    opacity: 70%;
}

.navigate-to-homepage__link_large {
  font-size: 25px;
  line-height: 3.55em;
}