.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}



.board__grid {
  display: flex;
  /* width: 100%; */
}

.board__first-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 10%;
  background-color: lightgray;
}

.board__game-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.board__last-row {
  display: flex;
  background-color: darkgray;
}

.board__header {
  text-align: center;
  padding: 40px;
  color: #ff4000;
  background-color: rgba(0, 0, 0, 0.7);
}

.board__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20%;
}

.board__firefighter_div {
  justify-content: flex-end;
}

.board__button {
  background-color: lightgray;
  width: calc(20% - 10px);
  border: 1px solid black;
  border-radius: 5%;
  line-height: 2em;
  height: 5em;
  text-align: center;
  font-size: 15px;
  color: black;
  transition: linear 0.3s;
  /* margin-top: 15px; */
}

.board__button:hover {
  background-color: lightgray;
  opacity: 70%;
  cursor: pointer;
}

.board__update-btn {
  /* width: calc(50% - 10px); */
}

.board__end-btn {
  margin-bottom: 10px;
}

.board__game-end {
  text-align: center;
  padding: 40px;
  color: #ff4000;
  background-color: rgba(0, 0, 0, 0.7);
}

.board__firefighter {
  display: flex;
  align-items: center;
  gap: 15px;
}

.board__firefighter__image {
  width: 20%;
}

.board__firefighter__description {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
}
