.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1447px;
  margin: 0 auto;
}

.board__started {
  width: 90%;
}

.board__header {
  text-align: center;
  /* padding: 40px; */
  color: #ff4000;
  background-color: rgba(0, 0, 0, 0.7);
}

.board__header-title {
  margin: 0;
  padding: 40px 0;
  font-size: 32px;
  /* text-align: center;
  padding: 40px;
  color: #ff4000;
  background-color: rgba(0, 0, 0, 0.7); */
}

.board__description {
  padding: 10px 0;
  margin: 0;
  font-size: 20px;
  /* color: #ff4000; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* text-align: center; */
}

.board__game-area {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  height: 75vh;
  justify-content: center;
}

.board__grid {
  display: flex;
  width: 100%;
  height: 65vh;
}

.board__first-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 10%;
  background-color: lightgray;
}

.board__first-column_background {
  width: 10%;
  height: 65vh;
  background-color: lightgray;
}

.board__game-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: calc(65vh / 10);
}

.board__last-row {
  display: flex;
  background-color: darkgray;
  width: 100%;
  height: calc(65vh / 10);
}

.board__wind__description {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.board__button-area {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.board__button-area_small {
  width: 10%;
}

.board__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.board__button {
  background-color: lightgray;
  width: calc(100%);
  border: 1px solid black;
  border-radius: 5%;
  line-height: 2em;
  height: 15%;
  text-align: center;
  font-size: 15px;
  color: black;
  transition: linear 0.3s;
}

.board__button:hover {
  background-color: lightgray;
  opacity: 70%;
  cursor: pointer;
}

.board__button_large {
  font-size: 25px;
}

.board__end-btn {
  margin-bottom: 10px;
}

.board__game-end {
  text-align: center;
  width: 100%;
  color: #ff4000;
  background-color: rgba(0, 0, 0, 0.7);
}

.board__firefighter {
  display: flex;
  align-items: center;
  /* gap: 15px; */
  flex-direction: column;
}

.board__firefighter__image {
  width: 50%;
}

.board__firefighter__description {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0;
}
