.main__header {
  color: #ff4000;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.main__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20%;
}

.main__link {
  background-color: lightgray;
  width: calc(30% - 10px);
  border: 1px solid black;
  border-radius: 7%;
  line-height: 5em;
  height: 5em;
  text-align: center;
  font-size: 25px;
  color: black;
  transition: linear 0.3s;
  margin-top: 15px;
}

.main__link:hover {
  background-color: lightgray;
  opacity: 70%;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.main__description {
  color: #ff4000;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.main__description__link {
  color: lightblue;
}
