.modal__how-to-play-container {
  width: calc(100% - 200px);
  max-width: 900px;
  height: 85vh;
  overflow: auto;
  transition: 0.3s linear;
}

.modal__how-to-play-element {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.modal__how-to-play-section {
  gap: 15px;
  flex-direction: row;
  justify-content: space-between;
}

.modal__how-to-play-image {
  width: 50%;
  height: 50%;
  padding-right: 5px;
}

@media screen and (max-width: 600px) {
  .modal__how-to-play-container {
    width: calc(100% - 50px);
  }

  .modal__how-to-play-element {
    margin: 0 10px
  }
}
